
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');body,html{
    overflow-x: hidden;
    background:url('./phone-1080x1920.jpg') no-repeat center;
    background-size: cover;
}
.current{
    position: relative;
    overflow: hidden;
    background-color: #33635d88;
    margin: 3%;
    margin-top: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    z-index: 0;
}
.fst{
    margin-top: 20vh;

}
#seed{
    text-align: center; margin-bottom: 0%; color: #acdf87;
    border: 1px solid #acdf87;
    box-shadow: 2px 2px 2px #acdf87;
    border-radius: 5px;
    z-index: 2;
    color: white;
    font-size: 36px;
}
.snd{
    font-size: 25   px;
    margin-bottom: 20px;
}
h1 {
    color: #acdf87;
    font-family:"Playfair Display";
    max-width: 40ch;
    margin-top: -5%;
    text-align: center;
    transform: scale(0.94);
    animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
    animation: head 2s infinite;
    z-index: 4;
}
@keyframes head {
    0%{
        filter: drop-shadow(5px 5px 5px #0a5c36);
    }
    25% {
    filter: drop-shadow(5px 5px 5px #0f5132);
    }
    50%{
        filter: drop-shadow(5px 5px 5px #14452f);
    }

    75%{
        filter: drop-shadow(5px 5px 5px #18392b);
    }
    100%{
        filter: drop-shadow(5px 5px 5px #0a5c36);
    }
}
@keyframes scale {
    100% {
    transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.fst span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.fst span:nth-child(2) {
animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fst span:nth-child(3) {
animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.snd span:nth-child(1) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.snd span:nth-child(2) {
animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.snd span:nth-child(3) {
animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.snd span:nth-child(4) {
animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.snd span:nth-child(5) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
.trd span:nth-child(1) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.trd span:nth-child(2) {
animation: fade-in 0.8s 1.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
100% {
    opacity: 1;
    filter: blur(0);
}
}

  
#logo{
    position: absolute;
    top: 7% ;
    width: 30vb;
    height: 30vh;
    left: calc(50% - 15vb);
    z-index: 1;
}
.foot{
    background-color: #33635d88;
    padding: 30px;
    border-radius: 20px;
}
p{
    font-family
    :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cont
{
    position: relative;
    color: #acdf87;
    border-radius: 20px;
    padding: 8px;
    z-index: 0;
    border: 1px solid #acdf87;
    box-shadow: 2px 2px 2px #acdf87;
}
ul{
    font-family: "Playpen Sans";
    margin: 0%;
    margin-left: -5%;
}
#_2-1{
    position: absolute;
    right: -20%;
    top: 28%;
    display: inline;
    width: 200px;
    height: 200px;
    z-index: 3;
}
#_2-2{
    position: absolute;
    left: -30%;
    top: 25%;
    display: inline;
    width: 200px;
    height: 200px;
    z-index: 3;
    rotate: 130deg;
}
#_2-3{
    position: absolute;
    right: -20%;
    top: 50%;
    rotate: 25deg;
    display: inline;
    width: 200px;
    height: 200px;
    z-index: 1;
}
#_3{
    position: absolute;
    right: 0%;
    opacity: 0.8;
    rotate: -36deg;
    bottom: -58vh;
    height: 15vh;
    z-index: 0;
}
/* 


#_4{
    position: absolute;
    right: 10%;
    height: 1vh;
} */
#pic{
    filter: drop-shadow( 7px 7px 15px rgba(216, 233, 194, 0.541));
    margin-bottom: 0%;
}  
a{
    text-decoration: none;
    color: #acdf87;
}  